<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReplayKit录屏Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A303CC5E1F1F3F2300FEDD20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A303CC771F1F3F2300FEDD20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A303CC821F1F3F2300FEDD20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
